<div>
    <%= @website.title %><br>
    <%= @website.url %>
</div>

<%= link_to "削除", user_website_path(@user, @website), data: {turbo_method: :delete, turbo_confirm: "#{@website.title}を削除します。よろしいですか？"} %>
<%= link_to "編集", edit_user_website_path(@user, @website) %>
<%= link_to "一覧へ", user_websites_path(@user) %>