<div class="main edit_user_main">
    <div class="form_title">
        <h1>ユーザー編集画面</h1>
    </div>

    <div class="user_form">
        <%= form_with model: @user do |f| %>
        <div>
            <%= f.label :name, "ユーザー名" %><br>
            <%= f.text_field :name %>
        </div>
        <div>
            <%= f.label :email, "メールアドレス" %><br>
            <%= f.text_field :email %>
        </div>
        <div>
            <%= f.label :password_digest, "パスワード" %><br>
            <%= f.text_field :password_digest %>
        </div>
        <div>
            <%= f.submit "編集" %>
        </div>
        <% end %>
    </div>
</div>